<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">AgSmart</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink ="/dashboard" (click) = "defaultView()" class="nav-link active" aria-current="page">
              Map
            </a>
          </li>
          <li class="nav-item">
            <a (click) = "showLoginService()" class="nav-link">
              Services
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Analytics
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Practices
            </a>
          </li>
        </ul>
        <!--
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      -->
      </div>
    </nav>
  </div>
</div>
<div class="main">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding: 20px;">
    <button routerLink ="/dashboard" (click) = "defaultView()" type="button">Map View</button>
    <button (click) = "showListView()" type="button">List View</button>
    <input type="file" (change)="onFileChange($event)" multiple="false" />
  </div>
  <agm-map *ngIf = "isActive == true" [zoom]= "z" [latitude]="lat" [longitude]="lng" [fullscreenControl]='true' [mapTypeId]="'hybrid'" [mapTypeControl]='true'>
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window><b>My Home Location</b>
      </agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let m of agWorldFarms; let i = index" [latitude]="m.attributes.location.latitude" [longitude]= "m.attributes.location.longitude">
      <agm-info-window><b>ID: </b>{{m.id}}<br>
        <b>Type: </b> {{m.type}}<br>
        <b>Name: </b> {{m.attributes.name}}<br>
        <b>Description: </b> {{m.attributes.description}}<br>
        <b>Latitude: </b> {{m.attributes.location.latitude}}<br>
        <b>Longitude: </b> {{m.attributes.location.longitude}}
      </agm-info-window>
  </agm-marker>
  </agm-map>
  <agsmart-login *ngIf = "isActiveLogin == true"></agsmart-login>
  <list-view *ngIf = "isActiveListView == true"></list-view>
</div>
